*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}


header {
  display: flex;
  position: relative;
  top: 0;
  z-index: 1000;
  background-color: rgb(198, 126, 80);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo-container img {
  height: 120px;
  width: 300px;
  margin-left: 20px;
}

.head_nav {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: right; 
  
}

.head_nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.head_nav ul li {
  margin-right: 20px;
}


.head_link {
  font: 24px Impact, sans-serif;
  color: beige;
  text-decoration: none;
  transition: 0.3s ease;
}

.head_link:hover {
  color: rgb(51, 10, 10);
  text-decoration: underline;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #a05834;
  padding: 10px 20px; 
  justify-content: center; 
}

.sticky-header #logo-container {
  display: none;
}

.sticky-header nav {
  justify-content: center; 
}




body{
  background-image: url('Other_images/waggytales_bg.png');

  
}


.intro{
  margin: 20px 20px 20px 20px;
  text-align: center;
  font-size: 24px;
}

@keyframes slide-in {
  0%{
    transform: translateY(-50%);
    
    color: #ebb28e;
  }

  100%{
    transform: translateY(0%);

  }
}

@keyframes bounce {
  0% {
    transform: translateX(0) translateY(0);
  }
  
  50%{
    transform: translateY(-10%);
  }
  
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes card {
  5%{
    /* transform: rotateY(90deg); */
  }

  100%{
    transform: rotateZ(360deg);
  }
}

.intro h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #783e23;
  animation: slide-in 2s ease-in-out 1ms;

  
}
.intro h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 40px 10px 40px;
    
}

.intro_img:hover{
  animation: bounce 1s ease-in-out;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1300px; /* Restrict maximum width */
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #c67e50;
  box-shadow: 0 4px 10px #0000001a;
}

.sliders {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: fit-content; /* Adjust the width dynamically */


}

.slide {
  flex: 0 0 48.4%; /* Each slide takes 50% of the container's width */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  
  margin: 10px;
  background-color: bisque;
}

.slide img {
  height: 300px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: rgb(198, 126, 80) 4px solid;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #00000080;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev:hover,.next:hover {
  background: rgb(198, 126, 80, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.yadopt{
  display: flex;
}

.yacon{
  display: flex;
  flex-direction: column;
  background-color: bisque;
  background: linear-gradient(135deg,#c67e50,bisque);
  margin: 20px;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #290f02;
  cursor: context-menu;
  
}

.yacon h3{
  display: none;
  
}

.yacon:hover h3{
  display: block;
  transition: 1s ease
}

.yacon:hover{
  animation: bounce 1s ease-in-out;

}

.yacon h1{
  font-size: 30px;
  color: #290f02;
  
}

footer{
  background-color: #290f02;
  color: bisque;
  padding: 12px 100px 12px 100px;
}

.footer_container{
  display: flex;
  gap: 5px;
  justify-content: space-around;
  margin-top: 20px;
}

.footer_sec{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;

}

.footer_sec img{
  height: 30px;
}

.fcon{
  display: flex;
  font-size: 12px;
  gap: 15px;
  align-items: center;
}

.navlinks ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding-left: 10px;

}

.navlinks a{
  color: bisque;
  text-decoration: none;
  font-size: 20px;
}

.navlinks a:hover{
  text-decoration: underline 2px bisque;
  padding: 10px;
  transition:  0.2s ease;
}
